In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("heart.csv")

In [3]:
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
None

In [6]:
x=df[["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"]]
y=df['target']

In [7]:
print(x,y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns] 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
X_train_n = X_train.copy()
X_test_n = X_test.copy()
norm = MinMaxScaler().fit(X_train_n)
normt = MinMaxScaler().fit(X_test_n)

In [10]:
X_train_norm = norm.transform(X_train_n)
X_test_norm = normt.transform(X_test_n)
X_test_norm_df = pd.DataFrame(X_test_norm)
X_train_norm_df = pd.DataFrame(X_train_norm)
X_test_norm_df.columns = X_test_n.columns
X_train_norm_df.columns = X_train_n.columns
X_train_norm_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,0.530475,0.657025,0.330579,0.371015,0.267536,0.128099,0.276860,0.544875,0.314050,0.180933,0.710744,0.170455,0.767218
std,0.191760,0.475687,0.340844,0.171723,0.121929,0.334893,0.265205,0.196074,0.465098,0.196889,0.303862,0.247655,0.197937
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.395833,0.000000,0.000000,0.265306,0.187067,0.000000,0.000000,0.421053,0.000000,0.000000,0.500000,0.000000,0.666667
50%,0.552083,1.000000,0.333333,0.367347,0.250577,0.000000,0.500000,0.578947,0.000000,0.142857,0.500000,0.000000,0.666667
75%,0.666667,1.000000,0.666667,0.469388,0.331986,0.000000,0.500000,0.682018,1.000000,0.285714,1.000000,0.250000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
heart_tt=X_train_norm_df.to_csv('heart_train.csv',header=True,index=False)

In [14]:
heart_tr=X_test_norm_df.to_csv('heart_test.csv',header=True,index=False)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
df=pd.read_csv("heart.csv")
print(df)
print(df.info())
x=df[["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"]]
y=df['target']
print(x,y)
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
X_train_n = X_train.copy()
X_test_n = X_test.copy()
norm = MinMaxScaler().fit(X_train_n)
normt = MinMaxScaler().fit(X_test_n)
X_train_norm = norm.transform(X_train_n)
X_test_norm = normt.transform(X_test_n)
X_test_norm_df = pd.DataFrame(X_test_norm)
X_train_norm_df = pd.DataFrame(X_train_norm)
X_test_norm_df.columns = X_test_n.columns
X_train_norm_df.columns = X_train_n.columns
X_train_norm_df.describe()
heart_tt=X_train_norm_df.to_csv('heart_train.csv',header=True,index=False)
heart_tr=X_test_norm_df.to_csv('heart_test.csv',header=True,index=False)